 @import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html {
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background: linear-gradient(to left top, #D7FDE4, #F2DBA7) no-repeat center center;
  background-size: 100% 100%;
  color: #272E31;
  height: 100%;
  width: 100%;
  padding: 5% 10%;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: inherit;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

.half {
  width: 50%;
  flex: 0 0 50%;
}

.padded {
  padding: 5%;
}

a {
  color: #272E31;
  border-bottom: 1px solid #272E31;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.logo {
  height: 100px;
}
